:root
{
    --side_width: max(300px, 15vw);
    --top_height: max(30px, 3vh);
    --bottom_height: max(30px, 3vh);
    --margin: 10px;
    --side_menu_buffer_width: 3px;
    --top_menu_buffer_height: 3px;

    --desmos_block_height: 50px;
    --desmos_block_drag_area_width: 30px;
    --desmos_block_menu_area_width: 30px;
}

#top_menu
{
    width: 100vw;
    height: var(--top_height);
    border-bottom: var(--top_menu_buffer_height) black solid;
    background-color: #2a2a2a;
}

#side_menu
{
    width: var(--side_width);
    height: calc(100vh - var(--top_height) - var(--margin));
}

#bottom_menu
{
    width: calc(100vw - var(--side_width) - var(--margin));
    height: var(--bottom_height);
    border-style: solid;
    position: absolute;
    bottom: 0px;
    left: var(--side_width);
    overflow: hidden;
    display: flex;
    align-items: center;
}

#side_menu_buffer
{
    position: absolute;
    background-color: black;
    width: var(--side_menu_buffer_width);
    height: calc(100vh - var(--top_height));
    top: var(--top_height);
    left: var(--side_width);
}

#side_menu_buffer:hover
{
    cursor: w-resize;
}


#canves
{
    position: absolute;
    top: var(--top_height);
    left: calc(var(--side_width) + var(--side_menu_buffer_width));
    width: calc(100vw - var(--side_width) - var(--margin));
    height: calc(100vh - var(--top_height) - var(--margin) - var(--bottom_height));
    border-style: solid;
    border-left-style: none;
}

body
{
    margin: 0px;
    padding: 0px;
}


/*styles for desmos elemnts*/
.desmos_block
{
    width: 100%;
    height: 50px;
    border-bottom-style: solid;
    display: flex;
}
.desmos_block_drag_area
{
    height: 100%;
    width: var(--desmos_block_drag_area_width);
    border-right: black solid 2px;
}
.desmos_block_menu_area
{
    height: 100%;
    width: var(--desmos_block_menu_area_width);
    border-left: black solid 2px;
    background-color: blue;
}
.desmos_block_write_area
{
    padding: 0px;
    height: 90%;
    width: calc(var(--side_width) - var(--desmos_block_drag_area_width) - var(--desmos_block_menu_area_width) - 4px);
    padding-right: 10px;
}
.desmos_block_write_area:hover
{
    cursor: text;
}